body {
  overflow: hidden;
}
.main {
  overflow: auto;
  height: calc(100vh - 95px);
}
.navbar {
  height: 95px;
}
.navbar.reduced {
  height: 65px;
}
.nav-tabs {
    background: #eee;
}
.menu {
  width: 100vw;
  height: 33px;
  padding-left:10px;
}
a.text-light.menu-item {
  padding: 0px 10px;
  text-decoration: none;
  border-right: 1px solid;
  line-height: 32px;
}
a.text-light.menu-item.selected {
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.2);
}
#sidebar-nav {
  height: calc(100vh - 95px);
  padding: 10px;
  width: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  height: calc(100vh - 95px);
  box-shadow: 6px 6px 14px #ddd inset;
  overflow: auto;
}

.organizationContainer {
  height: calc(100vh - 155px);
  overflow-y: auto;
  overflow-x: hidden;
}

h2 {
    display: inline-block;
    font-size: .9rem;
    position: relative;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.mainContent span.input-group-text:first-child {
    width: 106px;
}
table th {
  font-size: 1.1rem;
  font-weight: 500;
}
table.taskListContainer.table th:first-child {
  border-radius: .25rem 0 0 0;
}
table.taskListContainer.table th:last-child {
  border-radius: 0 .25rem 0 0;
}
.tasklist {
  overflow: auto;
  height: calc(100vh - 100px);
}
.taskListTitle {
  border-radius: 0.25rem;
  padding: 0px 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;
}
.taskListTitle > .title {
  font-size: 1.1rem;
  line-height: 33px;
  font-weight: 500;
}
.taskListTitle > .nbResults {
  padding: 5px;
}
.taskListTitle > .nbResults > select {
  margin: 2px;
}
.taskListFormContainer {
  width: 100%;
  display: inline-block;
  vertical-align: top
}
.taskListFormContainer.enlarged {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.taskListFormContainer.enlarged > .taskform {
  width: 90vw;
  left: 5vw;
  top: 5vh;
  z-index: 10;
  border: 1px solid #333;
  box-shadow: 0 5px 15px #000;
}
.taskListFormContainer.enlarged > .taskform #task-form{
  height: 75vh;
  overflow-y: auto;
}
span .assignedTo {
  font-size: smaller;
}
.btnClaimUnClaim {
  width: 200px;
  position: absolute;
  right: 15px;
  text-align: right;
}
.btnClaimUnClaim button {
    height: 35px;
}
.card.current {
  background: rgba(224,224,255,0.8);
}

.logout {
    font-size: 16px;
    font-weight: 700;
    border-left: 1px solid #17428c;
    padding-left: 10px;
    margin-left: 10px;
}
.logout::before {
    font-size: 20px;
    font-weight: 400!important;
}

.card {
	margin-bottom: 5px;
}
.card-title {
	font-size: 1.1rem;
}
.card.taskform .card-title {
  padding: 8px;
  margin-top: -1px;
  border-radius: .25rem .25rem 0 0;
}
.card-subtitle {
    font-size: 0.9rem;
}
.card-text {
	float: left;
    font-size: 12px;
    margin-bottom: 0!important;
    margin-block-start: 0;
}
.card-link {
	float: right;
}

.localeDropdown {
	display:inline-block;
}
.localeDropdown > button {
	font-size: 1.1rem;
    border:0px;
}
.dropdown-menu {
	box-shadow: -2px 2px 3px #666;
}
.dropdown-toggle.move[aria-expanded="false"]::after {
    transform: rotate(-90deg);
    transition: transform 0.35s ease;
}
.fjs-form-field-table table td.actions button.btn {
    min-width: 36px;
    font-weight: 900;
}

.maileditor {
	height: calc(100vh - 95px);
}

.maileditor .card {
	margin: 1.5rem;
    padding: 0px;
}
.maileditor .card .card-title {
    padding: 8px;
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
}
#mail-preview {
	padding: 1rem;
}
.addOrg {
  position: absolute;
  right: 10px;
  margin-top:2px;
}
.userGroupList {
  flex: 1 1;
}
@media only screen and (max-width: 600px) {
  .fileViewer .modal-dialog {
    max-width: 100vw;
    width: 100vw;
  }
}

@media only screen and (min-width: 600px) {
  .fileViewer .modal-dialog {
    max-width: calc(100vw - 150px);
  }
}
/**language dropdown*/
.input-group > .dropdown > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/** icon showing the assignee */
.taskAssigneeIcon {
  position: absolute;
  right: 10px;
  top: 15px;
}

.feelExpression {
  resize: vertical;
  overflow: hidden;
  background: white;
  border: 1px solid #999;
  position: relative;
  min-height: 30px;
  margin-bottom: 4px;
}
.feelExpIcon {
  position: absolute;
  background-color: #CCC;
  border-right: 0px;
  border-radius: 0px;
  z-index: 1;
  height: 100%;
  width: 2em;
  text-align: center;
  padding: 2px 6px;
    margin-bottom: 4px;

}
#feeleditor, .result {
  min-height: 100%;
  padding-left: 2.4em;
}

.dmn-definitions {
  display: none;
}
